.prototype {
  width: 595px;
  height: 430px;
  border: 1px solid rgba(34, 30, 19, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #505050;
  font-family: 'Geist Mono';
  font-size: 15px;
  font-weight: 400;
}